@charset "UTF-8";


body {
    background: rgb(63, 153, 255);
    font: normal 15pt Arial;
}

div {
    text-align: center;
    padding: 10px;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    font: normal black;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 5px 4px #00000050;
    margin: auto;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}




